[program:{{ program_name }}]
command=bash run.sh
autostart=true
autorestart=false
directory={{ project_location }}
redirect_stderr=true
stdout_logfile=/var/log/supervisor/{{ program_name }}.log
killasgroup=true
stopasgroup=true
