---
- name: prevent the gridengine install dialogs
  shell: echo {{ item }} | debconf-set-selections
  with_items:
  - "* shared/gridenginemaster select {{sge_server_name}}"
  - "* shared/gridenginecell select default"
  - "* shared/gridengineconfig select true"
  - "* postfix/main_mailer_type select No configuration"

- name: install common gridengine packages
  apt: name={{ item }} state=installed
  with_items:
    - gridengine-common
    - gridengine-client

- name: install gridengine master on Debian
  apt: name=gridengine-master state=installed
  when: sge_type_of_node == "front"

- name: install gridengine worker on Debian
  apt: name=gridengine-exec
  when: sge_type_of_node == "wn"

- name: Set Debian facts
  set_fact:
    SGE_ROOT: /var/lib/gridengine
    EXEC_SERVICE: gridengine-exec
  when: ansible_os_family == "Debian"
