---
- name: prevent the gridengine install dialogs
  shell: echo {{ item }} | debconf-set-selections
  with_items:
  - "* shared/gridenginemaster select {{sge_server_name}}"
  - "* shared/gridenginecell select default"
  - "* shared/gridengineconfig select true"
  - "* postfix/main_mailer_type select No configuration"

- name: install gridengine packages on Debian
  apt: name={{ item }} state=installed
  with_items:
    - gridengine-master
    - gridengine-exec
    - gridengine-client
  when: ansible_os_family == "Debian"

- name: Set Debian facts
  set_fact:
    SGE_ROOT: /var/lib/gridengine
    EXEC_SERVICE: gridengine-exec

- name: create folders used by gridengine
  file: path={{ item }} state=directory
  with_items:
    - /etc/gridengine/files/host_groups
    - /etc/gridengine/files/exec_hosts
    - /etc/gridengine/files/queues

- name: Set the gridengine qmaster node
  action: copy dest={{ SGE_ROOT }}/default/common/act_qmaster content={{ sge_server_name }}

- name: create allhosts
  template: dest=/etc/gridengine/files/host_groups/allhosts src=allhosts

- name: start gridengine qmaster
  action: shell bash -lc '/usr/sbin/sge_qmaster'
  ignore_errors: yes

- name: add the frontend as submission host
  action: shell bash -lc 'qconf -as {{ sge_server_name }}'
  ignore_errors: yes

- name: Copy 'default_q.conf' file
  copy: dest=/etc/gridengine/files/queues/default.q src=default_q.conf mode=0644 force=no

- name: add hosts to the default queue
  action: shell bash -lc 'qconf -Ahgrp /etc/gridengine/files/host_groups/allhosts'
  ignore_errors: yes

- name: create default queue
  action: shell bash -lc 'qconf -Aq /etc/gridengine/files/queues/default.q'
  ignore_errors: yes
