# bind = 'unix:///var/run/{{ program_name }}.socket'
bind = "127.0.0.1:5000"
workers = 3
worker_class = 'sync'

# environment
raw_env = [
  "PYWPS_CFG=/etc/pywps/{{ program_name }}.cfg",
]

# logging
debug = True
errorlog = '-'
loglevel = 'DEBUG'
accesslog = '-'
