---
- name: Install nginx
  package: name=nginx state=latest
  notify: nginx started

- name: Make sure sample host is absent
  when: ansible_os_family == 'Debian'
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent
  notify: restart nginx

- name: Make sure sample host is absent
  when: ansible_os_family == 'RedHat'
  file:
    path: /etc/nginx/conf.d/default.conf
    state: absent
  notify: restart nginx

- name: Assure nginx running at end of playbook
  command: /bin/true
  notify: nginx started
